nav > a > img{
    height: 3rem;
}
nav{
    text-align: center;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.echologo{
    width: auto;
}
.margin-left{
    margin-left: 50rem;
}